*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.question{
    font-size: 1rem;
    padding: 20px 0;
    line-height: 1.7rem;
}

.answer{
    font-size: 1rem;
    padding: 10px 0;
    input{
        cursor: pointer;
        height: 1rem;
        width: 1rem;
        transform: translateY(2px);
    }
    span{
        margin-left: 0.2rem;
    }
    
}

#quiz{
    background: #eee;
    padding: 30px;
    height: 80vh;
    width: 80vw;
    max-width: 1000px;
    overflow: scroll;
    box-shadow: 0 0 4px 0; 
    -ms-overflow-style: none;
    h1{
        text-align: center;
        margin-bottom: 1rem;
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.container-1{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.btn{ 
    margin-top: 20px;
    text-align: center;
    
    button{
        font-size: 1rem;
        padding: 8px 18px;
        background: rgb(202, 255, 202);
        border-radius: 10px;
        border: none;
        outline: none;
        box-shadow: -2px 1px 1px grey;
        cursor: pointer;
        &:active{
            background: rgb(122, 175, 255);
        }
    }
}

.score{
    display: block;
    padding: 8px 0;
    span{
        
    }
}